.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  padding: 20px;
  width: 50vw;
  height: 50vh;
  /* From https://css.glass */
  background: rgba(32, 76, 167, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(32, 76, 167, 1);
  flex-wrap: wrap;
}

.currencyFormArea {
  height: 50px;
  margin-bottom: 10px;
}

.fullHeight {
  height: 100%;
}

.downEmoji {
  display: flex;
  align-items: center;
  font-size: 35px;
  padding-left: 42%;
}
